<footer class="footer">
  <div class="container">
    <div class="footerBlock">
      <div class="footerLogo">
        <img src="/assets/img/logo.svg" alt="">
      </div>
      <div class="associateMember">
        <span>an Associate Member of</span>
        <img class="postLogo" src="/assets/img/post.svg" alt="">
      </div>

      <div class="telegramm">
        <a href="https://t.me/stampsdaqTG"><img src="../../../../assets/img/telegram.svg" alt=""></a>
      </div>
      <div class="footerLinks">
        <a href="../../assets/documents/STAMPSDAQ whitepaper v1_0 Official.pdf" target="_blank">Whitepaper</a>
      </div>
    </div>
  </div>
</footer>
