footer {
  padding-top: 40px;
  padding-bottom: 60px;
  background: rgb(9,7,37);
  background: linear-gradient(90deg, rgba(9,7,37,1) 0%, rgba(18,14,73,1) 50%, rgba(9,7,37,1) 100%);
  color: #fff;
  border: 0;
  border-top: 1px solid #78F7FF;
  border-image: linear-gradient(90deg, rgba(120,247,255,1) 8%, rgba(0,133,255,1) 37%, rgba(120,247,255,1) 73%);
  border-image-slice: 1;
  .footerTitle {
      background: linear-gradient(102.33deg, #FC5410 2.24%, #F5D20F 103.29%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: justify;
      text-transform: uppercase;
  }

  .postLogo {
      width: 75px;
      height: auto;
      margin-left: 10px;
  }

  .footerBtn {
      margin: 0 10px;
      background: linear-gradient(102.33deg, #FC5410 2.24%, #F5D20F 103.29%);
      border-radius: 4px;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 0 35px;
      border: none;
      cursor:pointer;
  }
}

.footerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .socialBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    a{
      img {
        margin-top: 10px;
        width: 36px;
        height: auto;
      }
      img:hover {
       opacity: 0.6;
      }
    }
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    .footerLinksRow {
      display: flex;
      a {
        color: #fff;
        margin: 5px 5px;
        text-decoration: none;
      }
      a:hover {
        color: rgb(180, 180, 180);
      }
    }
    .footerLink {
      margin: 5px 5px;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
    .footerLink:hover {
      color: rgb(180, 180, 180);
    }
  }

}


.associateMember {
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 30px;
}

@media screen and (max-width: 991px) {
  .footerBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerLogo {
    margin: 20px 0;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    .socialBlock {
      margin: 20px 0;
    }
  }

}

// @media screen and (max-width: 991px) {

// }

// @media screen and (max-width: 767px) {
//   footer {
//       height: auto;
//   }
//   .footerBlock {
//       padding-top: 50px;
//       padding-left: 0;
//       padding-right: 0;
//   }
//   .telegramm {
//       margin: 20px 0;
//   }
// }

// @media screen and (max-width: 480px) {



