<footer class="footer">
  <div class="container">
    <div class="footerBlock">
      <div class="footerLogo">
        <img src="/assets/img/logo.svg" alt="">
      </div>
      <div class="associateMember">
        <span>an Associate Member of</span>
        <img class="postLogo" src="/assets/img/post.svg" alt="">
      </div>

      <div class="links">
        <div class="socialBlock">
          <span>Follow me</span>
          <a href="https://t.me/stampsdaqTG"><img src="../../../../assets/img/telegram.svg" alt=""></a>
          <a href="https://t.me/stampsdaqTG"><img src="../../../../assets/img/twitter.svg" alt=""></a>
        </div>
        <div class="footerLinks">
          <div class="footerLinksRow">
            <a href="https://stampsdaq.com/about">About</a>
            <a href="../../assets/documents/STAMPSDAQ whitepaper v1_0 Official.pdf" target="_blank">Whitepaper</a>
            <a href="https://stampsdaq.com/contacts">Contacts</a>
          </div>
          <a class="footerLink" href="https://github.com/STAMPSDAQ-LLC/" target="_blank">Github</a>
        </div>
      </div>

    </div>
  </div>
</footer>
