.mainBlock {
  display: flex;
  background: rgb(9,7,37);
  background: linear-gradient(90deg, rgba(9,7,37,1) 0%, rgba(18,14,73,1) 50%, rgba(9,7,37,1) 100%);
  width: 100%;
  height: auto;
  // background-size: cover;
  // background-position: right;
  // background-repeat: no-repeat;
  // background-image: url("../../assets/img/token.svg");
}

.mainColumn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.infoForm {
  border: 1px solid #2819fd;
  width: 400px;
  padding: 20px;
  border-radius: 8px;

  .bigText {
    color: #fff;
    font-size: 25px;

  }

  .smallText {
    color: #fff;
    font-size: 18px;
  }

  input {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 40px;
    background-color: #090725;
    opacity: 0.8;
    color: #fff;
  }

  .infoBtn {
    background: linear-gradient(102.33deg, #fc5410 2.24%, #f5d20f 103.29%);
    color: #fff;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .infoBtn:disabled {
    background: linear-gradient(102.33deg, #f5723e 2.24%, #ecd659 103.29%);
  }

  // .infoBtn:hover {
  //   background: linear-gradient(102.33deg, #f5d20f 2.24%, #fc5410 103.29%);
  // }
}

.titleColumn {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin-top: 80px;
  .title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
  }
  .titleImg {
    margin-top: 30px;
    max-width: 410px;
    width: 100%;
    height: auto;
  }
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 50px;
  background: blue;
  border: 1px solid;
  border-radius: 4px;
  background-color: #090725;
  opacity: 0.8;
}

error {
  color: #b92727;
}

@media screen and (max-width: 1199px) {
  // .titleColumn {
  //   margin-top: 0;
  //   margin-bottom: 40px;
  //   display: flex;
  //   justify-content: center;
  // }

}

