<div class="mainBlock">
  <div class="container">
    <div class="row">
      <div class="col-md-6 titleColumn">
        <span class="title">Priority queue</span>
        <img class="titleImg" src="../../assets/img/tree.png" alt="">
      </div>
      <div class="col-md-6 mainColumn">
        <form class="infoForm" [formGroup]="infoForm" (ngSubmit)="submitForm()">
          <span class="bigText">
            Register below your interest to participate in the public token sale.
          </span>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email*" [formControl]="email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Full name*" [formControl]="name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ethereum address*" autocomplete="__away" [formControl]="address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Country of Residence*" [formControl]="country">
          </div>

          <span class="smallText">
            Note: Residents of US and Canada, and UN-sanctioned countries are ineligible to participate in this whitelist and in the public sale.
          </span>

          <button type="submit" class="infoBtn" [disabled]="!infoForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


